torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
transformers==4.53.0
accelerate==1.4.0
vllm==0.9.1
xformers==0.0.30
faiss-gpu==1.7.2
sentence-transformers==3.4.1
ir-datasets==0.5.10
rank-bm25==0.2.2
spacy==3.8.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
nltk==3.9.1
flair==0.15.1
fastapi==0.115.11
uvicorn==0.34.0
httpx==0.24.1
aiohttp==3.11.13
openai==1.76.0
pandas==2.2.3
requests==2.32.3
tqdm==4.67.1
